* {
    border: 0;
    margin: 0;
}

/* header start */
header {
    background-color: #cbf9bb;
    padding: 2rem;
    text-align: center;
}

header h4 {
    color: #180d36;
}

header h1 {
    margin-bottom: 2rem;
    color: #301a67;
}

#shine {
    margin-top: 1rem;
    color: #402389;
}
/* header end */

/* nav bar start */
ul {
    background-color: #ffac81;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.logo img {
    width: 10rem;
    height: 4rem;
}

.icon li {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 26px;
}

.icon p {
    color: #281656;
}

.nav {
    background: none;
    color: #281656;
    font-size: 26px;
    text-shadow: 0 0 6px #c24396;
    margin-left: 10px;
    cursor: pointer;
}

.logo img:hover {
    scale: 108%;
    transition-delay: 100ms;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.nav:hover, .text p:hover {
    scale: 112%;
    color: #815ddb;
    text-shadow: 0 0 8px #5fe7c3;
    transition-delay: 100ms;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.toggle {
    display: none;
}
/* nav bar end */

/* color theme palets from "https://www.color-hex.com/color-palette/1020144" */
/* color font palets from "https://www.color-hex.com/color-palette/1020161" */